<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LocalCart</title>
    <link href="https://fonts.googleapis.com/css2?family=Chilanka&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
     <link rel="manifest" href="/site.webmanifest">
     <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
     <script>
       (adsbygoogle = window.adsbygoogle || []).push({
         google_ad_client: "ca-pub-9407364125061598",
         enable_page_level_ads: true
       });
     </script>
</head>

<body class="login" style="background-color: white;">
  <div class="container cont-login">
 
    <div class="row">
      <div class="col-sm main">
        <h1 style="font-family: 'Chilanka', cursive">
          About the website
        </h1>
        <p style="font-family: 'Chilanka', cursive">As they say, desperate times call for desperate measures. And in these trying times it is the need of the hour that people go out of their houses as less as possible. It is due to this very reason that this application is created  by me. Its sole purpose is to connect the various local shops present around us. I hope that I am able to play my small part in battling this global health crisis and overcoming it.</p>
      </div>
    
    
      <div class="col-sm main">
        <h1 style="font-family: 'Chilanka', cursive">
          Login Here
        </h1>
        <p>Use your google login,its secure and have the option to login fron any device with the best security offered by google.</p>
        <div class="card social-block">
              <a href="/auth/google"> <button type="button" class="btn btn-secondary btn-lg btn-block"> Sign Up with Google</button>  </a>
        </div>
      </div>
    </div>
  
  </div>
</body>





<footer id="footer" >
  <a href="https://www.facebook.com/nikhil.prakash.520/"><i data-aos="slide-up" class="social-margin fab fa-facebook-f"></i></i></a> 
    <a href="https://twitter.com/Nikhil21994254"><i data-aos="slide-up" class="social-margin fab fa-twitter"></i> </a>
  <a href="https://www.instagram.com/nikhilprakash2012/"><i data-aos="slide-up" class="social-margin fab fa-instagram"></i> </a>
     <a href="https://github.com/nikhil-03"><i data-aos="slide-up" class="social-margin fab fa-github"></i> </a>

 <p>© Copyright 2020 NIKHIL</p>

</footer>



<script src="index.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>